body {
	background: #D3D5C8;
	color: #fff;
	font-family: "FreightSans", "Helvetica Neue", "Helvetica", helvetica, arial, tahoma, sans-serif;
	font-weight: lighter;
	text-align: center;
	font-size: 62.5%;
}

/*

	General styles

*/

h1,
h2,
h3 {
	font-size: 4.4em;
	line-height: 1.3;
	font-weight: lighter;
	margin: 0em;
	padding: 0em;
}

h2:before,
h3:before {
	content: '—';
	margin: 0em 0em 0em -1em;
}

h2,
h3 {
	margin: 0em 0em 0.2em;
}

h3 em {
	border-bottom: 2px solid #fff;
}

em {
	font-style: normal;
	color: #7f8b6a;
	border-bottom: 2px solid #7f8b6a;
	padding: 0em 0.1em 0.07em;
}

a {
	color: #fff;
	text-decoration: none;
	padding: 0em 0.1em 0.07em;
}

a:hover {
	background-color: #ee9298;
}



div#container {
	width: 78em;
	margin: 2em auto;
	text-align: left;
	position: relative;
}

/*

Javascript-referenced-only styles

*/

em span {
	position: absolute;
	height: 0;
	/* IEs Hack */
	*height: auto;
}

em span.always-hide {
	position: static;
	visibility: hidden;
}

em span a {
	background-color: transparent;
}

em span.always-hide a {
	background-color: #FF0047;
}

h3 em span a:hover {
	background-color: transparent;
}